<div class = "top">
    <h1 class="display-4 text-primary">Posts#index</h1>
    <p class="title">試合結果一覧<a href="/posts/new" class="btn btn-primary btn-lg">新規投稿</a></p>
</div>

<table class="table"  >
    <tr  >
        <th>Match_Id</th>
        <th>Macth_Day</th>
        <th>Home-team</th>
        <th>Match_result</th>
        <th>Away-team</th>
        <th></th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <% require "./app/controllers/createpath_to_Railsapp.rb" #createpath_to_Railsapp を読み込み%>
        <% team_array = create_all_image_name %>
        <% home_png , away_png = search_team(team_array, obj.hometeam ,obj.awayteam)%>

        <td class= "move-right"><a href="/posts/<%= obj.id%>">　<%= obj.id %></a></td>
        <td><%= obj.date %></td>
        <td><%= obj.hometeam %>
            <% if home_png != nil %>
                <%= image_tag  home_png , :size => "25x25" %>
            <% end %>
        </td>
        <td class="move-right">　　<%= obj.hr %> <span>-</span> <%= obj.ar %></td>
        <td><%= obj.awayteam %>
            <% if away_png != nil %>
                <%= image_tag away_png , :size =>'25x25' %>
            <% end %>
        </td>
        <td><%= link_to "Edit", "/posts/#{obj.id}/edit" %>　<%= link_to "Delete", "/posts/#{obj.id}", method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
    </tr>
    <% end %>
</table>


