<h1 class="display-4 text-primary">Posts#index</h1>
<h3>試合結果一覧</h3>
<a href="/posts/new" class="btn btn-primary btn-lg">新規投稿</a>


<table class="table"  >
    <tr  >
        <th>Match_Id</th>
        <th>Macth_Day</th>
        <th>Home-team</th>
        <th>Match_result</th>
        <th>Away-team</th>
        <th></th>
    </tr>
    <% @data.each do |obj| %>
    <tr>
        <% hometeam_png = obj.hometeam + ".png" %>
        <% awayteam_png = obj.awayteam + ".png" %>
        <% path_array = output_array %>
        <% home_em , away_em = output_emblem(path_array, hometeam_png ,awayteam_png)%>

        <td class= "move-right"><a href="/posts/<%= obj.id%>">　<%= obj.id %></a></td>
        <td><%= obj.date %></td>
        <td><%= obj.hometeam %>
            <% if home_em != nil %>
                <%= image_tag  hometeam_png , :size => "25x25" %>
            <% end %>
        </td>
        <td class="move-right">　　<%= obj.hr %> <span>-</span> <%= obj.ar %></td>
        <td><%= obj.awayteam %>
            <% if away_em != nil %>
                <%= image_tag awayteam_png , :size =>'25x25' %>
            <% end %>
        </td>
        <td><%= link_to "Edit", "/posts/#{obj.id}/edit" %>　<%= link_to "Delete", "/posts/#{obj.id}", method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
    </tr>
    <% end %>
</table>


