
<h1 class="display-4 text-primary">Posts#new</h1>

<%=form_tag "/posts", method: :post do %>
    <div class="row">
        <div class="date">
            <div class = "form-group">
                <div class="col-md-16">
                    <label for="date">Macth_Day</label><br>
                    <%= date_field_tag(:date,"", {class:"form-control"}) %>
                </div>
            </div>
        </div>
        <div class="home-form">
            <div class="form-group">
                <div class="col-md-16">
                    <label for="hometeam">Hometeam</label>
                    <%= text_field_tag(:hometeam,"", {class:"form-control"}) %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-16">
                    <label for="hr">H.得点</label>
                    <%= number_field_tag(:hr,"",  in: 0..10, step: 1 , class:"form-control")  %>
                </div>
            </div>
        </div>
        <div class = "away-form">
            <div class="form-group">
                <div class="col-md-16">
                    <label for="ar">A.得点</label>
                    <%= number_field_tag(:ar,"",  in: 0..10, step: 1 , class:"form-control") %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-16">
                    <label for="awayteam">Awayteam</label>
                    <%= text_field_tag(:awayteam,"", {class:"form-control"}) %>
                </div>
            </div>
        </div>
    </div>

    <div class="kannsou-form">
        <h3 class="section-title">感想メモ</h3>
        <label for="MyMOM">MyMOM &#x1f451;</label>
        <%= text_field_tag(:MyMOM,"", {class:"form-control"}) %>
        <label for="memo">試合メモ</label>
        <%= text_area_tag(:memo,"",{class:"form-control"}) %>
    </div>
    <%= submit_tag("投稿",  {class: "btn-primary btn-lg"}) %>

<% end %>
<br>
<%= link_to "試合結果一覧に戻る", "/posts" %>
