
<h1 class="display-4 text-primary">Posts#show</h1>
<h3>試合詳細</h3>
<div class = "menu">
    <%= link_to "Edit", "/posts/#{@data.id}/edit" %>
    <%= link_to "Delete", "/posts/#{@data.id}", method: :get, data: { confirm: "本当に削除しますか？" } %>
</div>

<table class="table">
    <tr >
        <th>Match_Id</th><!-- th: table header-->
        <th>Match_Day
        <th>Hometeam</th>
        <th>Match_result</th>
        <th>Awayteam</th>
    </tr>
    <tr><!-- 表の横一行-->
       <% require "./app/controllers/createpath_to_Railsapp.rb" #createpath_to_Railsapp を読み込み%>
       <% team_array = create_all_image_name %>
       <% home_png , away_png = search_team(team_array, @data.hometeam,  @data.awayteam)%>

       <td class="move-right"><a href="/posts/<%= @data.id%>">　<%= @data.id %></a></td>
       <td><%= @data.date %></td>
       <td><%= @data.hometeam %>
           <% if home_png != nil %>
           <%= image_tag  home_png , :size => "25x25" %>
           <% end %>
       </td>
       <td class="move-right">　　<%= @data.hr %> <span>-</span> <%= @data.ar %></td>
       <td><%= @data.awayteam %>
           <% if away_png != nil %>
           <%= image_tag away_png , :size =>'25x25' %>
           <% end %>
       </td>

    </tr>
</table>


<div class="kannsou-form">
    <h3 class="section-title">感想メモ</h3>
    <p>MyMOM　&#x1f451;</p>

    <p class = "mom-form"><%= @data.MyMOM %> </p>
    </div>
    <p>試合メモ</p>
    <p class  = "memo-form"><%= @data.memo%></p>

    <%= link_to "試合結果一覧に戻る", "/posts" %>

</div>
<!--<a href="/posts" class="btn btn-primary btn-lg">return top</a>-->
