<h1 class="display-4 text-primary">Posts#show</h1>
<h3>試合詳細</h3>
<div class = "menu">
    <%= link_to "Edit", "/posts/#{@data.id}/edit" %>
    <%= link_to "Delete", "/posts/delete/#{@data.id}", method: :delete, data: { confirm: "本当に削除しますか？" } %>
</div>

<table class="table">
    <tr >
        <th>match_Id</th><!-- th: table header-->
        <th>hometeam</th>
        <th>match_result</th>
        <th>awayteam</th>
    </tr>
    <tr><!-- 表の横一行-->
        <% hometeam_png = @data.hometeam + ".png" %>
        <% awayteam_png = @data.awayteam + ".png" %>
        <% path_array = output_array %>
        <% home_em , away_em = output_emblem(path_array, hometeam_png ,awayteam_png)%>

        <td><%= @data.id %></td>
        <td><%= @data.hometeam %>
            <% if home_em != nil %>
                <%= image_tag  hometeam_png , :size => "25x25" %>
            <% end %>
        </td>
        <td><%= @data.hr %>-<%= @data.ar %></td>
        <td><%= @data.awayteam %>
            <% if away_em != nil %>
                <%= image_tag awayteam_png , :size =>'25x25' %>
            <% end %>
        </td>

    </tr>
</table>


<div class="kannsou-form">
    <h3 class="section-title">感想メモ</h3>
    <p>MyMOM　&#x1f451;</p>

    <p class = "mom-form"><%= @data.MyMOM %> </p>
    </div>
    <p>試合メモ</p>
    <p class  = "memo-form"><%= @data.memo%></p>

</div>
<!--<a href="/posts" class="btn btn-primary btn-lg">return top</a>-->
<%= link_to "試合結果一覧に戻る", "/posts" %>
