<div class = "top">
    <h1 class="display-4 text-primary">Posts#show</h1>
    <p class="title">試合詳細<a href="/posts" class="btn btn-primary btn-lg>試合結果一覧に戻る</a></p>
</div>

<div class = "menu">
    <%= link_to "Edit", "/posts/#{@data.id}/edit" %>
    <%= link_to "Delete", "/posts/#{@data.id}", method: :get, data: { confirm: "本当に削除しますか？" } %>
</div>

<table class="table">
    <tr> <!-- 表の横一行-->
        <th>Match_Id</th><!-- th: table header-->
        <th>Match_Day
        <th>Hometeam</th>
        <th>Match_result</th>
        <th>Awayteam</th>
    </tr>
    <tr>
       <% require "./app/controllers/createpath_to_Railsapp.rb" #createpath_to_Railsapp を読み込み%>
       <% team_array = create_all_image_name %>
       <% home_png , away_png = search_team(team_array, @data.hometeam,  @data.awayteam)%>

       <td class="move-right"><a href="/posts/<%= @data.id%>">　<%= @data.id %></a></td>
       <td><%= @data.date %></td>
       <td><%= @data.hometeam %>
           <% if home_png != nil %>
           <%= image_tag  home_png , :size => "25x25" %>
           <% end %>
       </td>
       <td class="move-right">　　<%= @data.hr %> <span>-</span> <%= @data.ar %></td>
       <td><%= @data.awayteam %>
           <% if away_png != nil %>
           <%= image_tag away_png , :size =>'25x25' %>
           <% end %>
       </td>

    </tr>
</table>


<div class="kannsou-form">
    <h3 class="kannsou-title">感想メモ</h3>
    <p>MyMOM　&#x1f451;</p>
    <p class = "mom-form"><%= @data.MyMOM %> </p>
    </div>
    <p>試合メモ</p>
    <p class  = "memo-form"><%= @data.memo%></p>

</div>


 <div class="comments-index">
    <h3 class = "comments-view">コメント一覧</h3>
    <% @data.comments.each do |comment| %>
        <%= comment.name %>　:　<%= comment.content %>
        <%= link_to "削除する", post_comment_path(@data, comment), method: :delete, data: { confirm: "本当に削除しますか?" } %><br>
    <% end %>
 </div>

<div class = "comments-form">
    <h3 class="comments-title">コメント</h3>
    <%= form_for @comment, url: post_comments_path(@data, @comment) do |f| %>
        名前: <%= f.text_field :name , {class:"form-control"} %> <br>
        コメント: <%= f.text_area :content , {class:"form-control"} %>
        <%= f.submit("コメントする" ,class: 'btn btn-primary btn-lg my-1 mb-5 px-5') %>
    <% end %>
</div>